.safe-logo {
    background: #676767;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    text-align: center;
    position: relative;
    padding-top: 9px;
    border: solid 1px #3c3c3c;
    box-shadow: 0px 0px 21px #0000001f;
    margin: 0 auto 30px auto;
}
.safe-logo div{}
.safe-logo span{
    position: absolute;
    background: #676767;
    bottom: -15px;
    font-size: 12px;
    width: 99px;
    left: 0;
    right: 0;
    display: block;
    border-radius: 22px;
    padding-top: 2px;
    margin: auto;
    border: solid 1px #3c3c3c;
}