.safe-logo {
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    position: relative;
    padding-top: 0;
    box-shadow: 1px 1px 21px #0000001f;
    margin: 0 auto 30px auto;
    overflow: hidden;
}
.safe-logo img {
    width: 100%;
}